In [1]:
import pandas as pd
import numpy as np
import json
import io

In [2]:
def reset_index(df):
    df.reset_index(inplace=True)
    df.drop('index', axis=1, inplace=True)
    df.index = np.arange(1, len(df) + 1)
    return(df)

def open_csv(fname):
    df = pd.read_csv(fname)
    try: 
        df.drop('type_name', axis=1, inplace=True)
    except:
        print(fname + '   ***   ' + 'Error with dropping type_name column')
        
    if fname == 'statistics - age.csv':
        df.fillna(value=0, inplace=True)
    
    try:
        df['date_stamp'] = pd.to_datetime(df['date_stamp'], format='%Y-%m-%d')
    except:
        print(fname + '   ***   ' + 'Error with datetime')
    
    for col in list(df):
        if col not in ['name', 'date_stamp']:
            try:
                df[col] = df[col].astype(int)
            except:
                continue
    return reset_index(df)

def json_to_df(fname):
    f = io.open(fname, 'r', encoding='utf-8-sig')
    df_json = pd.read_json(f, orient='columns')
    df = pd.read_json( (df_json['features']).to_json(), orient='index')
    df = pd.concat([pd.read_json((df['geometry']).to_json(), orient='index'),\
               pd.read_json((df['properties']).to_json(), orient='index')],axis=1)
    try:
        df.drop('type', axis=1, inplace=True)
    except:
        print('Couldnt drop type column')
    df.replace(['nan', 'NaN', 'Nan', 'None', 'NULL'], np.nan, inplace=True)
    return df

def age_check(df):
    col_list = [col for col in list(df) if col.startswith('age') and col != 'age_general']
    #df2 = pd.DataFrame({'summed': df[col_list].sum(axis=1), 'age_general': df['age_general']})
    df_copy = df.set_index('name').copy()
    diff = df_copy[col_list].sum(axis=1) - df_copy['age_general']
    diff_cols = diff[diff != 0]
    if len(diff_cols) != 0:
        print('These regions still dont add up:    ' + str(diff_cols.index.values.tolist()))
    else:
        print('All good with age pyramid data!')

In [3]:
empl = open_csv('statistics - empl.csv')
empl_cat = open_csv('statistics - empl_category.csv')
age = open_csv('statistics - age.csv')
age_check(age)

statistics - empl_category.csv   ***   Error with dropping type_name column
statistics - empl_category.csv   ***   Error with datetime
All good with age pyramid data!

In [4]:
empl_melted = pd.melt(empl, id_vars=['name', 'date_stamp'], var_name='category', value_name='value').dropna()
empl_melted['value'] = empl_melted['value'].astype(int)
empl_melted = reset_index(empl_melted)
#replace industry category names with IDs
empl_melted['category'] = empl_melted['category'].replace(empl_cat.set_index('name_eng')['code'].to_dict())

In [35]:
#admin = pd.concat([json_to_df('admin.json'), pd.read_csv('admin_df.csv')]).reset_index()
admin = pd.read_csv('admin_df.csv')

In [36]:
admin

,admin_id,name,parent_fk,center_fk,admin_level,koatuu,population,geom
0,1,Великобагачанська,NaN,15.0,114,NaN,NaN,NaN
1,2,Багачанська Перша,1.0,27.0,125,5.320281e+09,798.0,"[[[[33.587501, 49.6684056], [33.5707499, 49.67..."
2,27,Багачка Перша,2.0,NaN,30,5.320281e+09,234.0,"[[[[33.6105024, 49.7137314], [33.6131644, 49.7..."
3,26,Байрак,5.0,NaN,25,5.320255e+09,396.0,"[[[[33.8208103, 49.7412783], [33.8212717, 49.7..."
4,29,Балюки,3.0,NaN,30,5.320280e+09,287.0,"[[[[33.6291879, 49.7413233], [33.6295634, 49.7..."
5,23,Буряківщина,5.0,NaN,25,5.320255e+09,28.0,"[[[[33.7105364, 49.8337007], [33.7125885, 49.8..."
6,9,Бутова Долина,5.0,NaN,25,5.320255e+09,345.0,"[[[[33.6964416, 49.8061385], [33.6960983, 49.8..."
7,15,Велика Багачка,5.0,NaN,16,5.320255e+09,5774.0,"[[[[33.724637, 49.7777551], [33.7248194, 49.77..."
8,5,Великобагачанська,1.0,15.0,120,5.320255e+09,7115.0,"[[[[33.7157965, 49.7699429], [33.7141979, 49.7..."
9,24,Володимирівка,6.0,NaN,30,5.320284e+09,38.0,"[[[[33.5678818, 49.6070938], [33.5694927, 49.6..."
10,14,Гарнокут,5.0,NaN,25,5.320255e+09,8.0,"[[[[33.7472427, 49.7469044], [33.7468994, 49.7..."
11,18,Довгалівка,5.0,NaN,25,5.320255e+09,377.0,"[[[[33.7303298, 49.7504705], [33.7304309, 49.7..."
12,17,Затон,5.0,NaN,25,5.320255e+09,84.0,"[[[[33.7699889, 49.7482901], [33.7694652, 49.7..."
13,11,Іванівка,6.0,NaN,30,5.320284e+09,1.0,"[[[[33.5177337, 49.608738], [33.5171735, 49.60..."
14,25,Мала Решетилівка,5.0,NaN,25,5.320255e+09,72.0,"[[[[33.7745798, 49.7847555], [33.7742793, 49.7..."
15,7,Мар'янівка,6.0,NaN,30,5.320284e+09,280.0,"[[[[33.5250593, 49.6764874], [33.5274464, 49.6..."
16,13,Перекопівка,6.0,NaN,30,5.320284e+09,49.0,"[[[[33.5492183, 49.6185802], [33.5492313, 49.6..."
17,21,Пилипенки,5.0,NaN,25,5.320255e+09,13.0,"[[[[33.7339711, 49.715767], [33.7330323, 49.71..."
18,10,Пушкареве,2.0,NaN,30,5.320281e+09,140.0,"[[[[33.5724368, 49.690388], [33.5733819, 49.69..."
19,16,Радивонівка,6.0,NaN,30,5.320284e+09,932.0,"[[[[33.5289782, 49.6414393], [33.5312283, 49.6..."
20,6,Радивонівська,1.0,16.0,125,5.320284e+09,824.0,"[[[[33.5906553, 49.6131153], [33.5883164, 49.6..."
21,8,Семенівка,2.0,NaN,30,5.320281e+09,197.0,"[[[[33.5373661, 49.7029896], [33.5363674, 49.7..."
22,28,Степанівка,4.0,NaN,30,5.320285e+09,384.0,"[[[[33.6669695, 49.7119585], [33.6673021, 49.7..."
23,4,Степанівська,1.0,28.0,125,5.320285e+09,498.0,"[[[[33.6489665, 49.7194089], [33.6509514, 49.7..."
24,22,Стефанівщина,4.0,NaN,30,5.320285e+09,109.0,"[[[[33.6728436, 49.6929423], [33.6783743, 49.6..."
25,12,Шепелі,5.0,NaN,25,5.320255e+09,18.0,"[[[[33.7302375, 49.7185799], [33.7301704, 49.7..."
26,19,Широке,2.0,NaN,30,5.320281e+09,144.0,"[[[[33.6053864, 49.6660413], [33.6054942, 49.6..."
27,3,Якимівська,1.0,20.0,125,5.320280e+09,914.0,"[[[[33.6190653, 49.7641358], [33.6197197, 49.7..."
28,20,Якимове,3.0,NaN,30,5.320280e+09,627.0,"[[[[33.7024016, 49.7472631], [33.7017873, 49.7..."

In [15]:
empl_melted['name'] = empl_melted['name'].replace(pd.Series(otg['name'].index.values, index=otg['name']).to_dict())

In [16]:
empl_melted

     name date_stamp  category  value
1      26 2017-01-01         1     30
2      22 2017-01-01         1    107
3       6 2017-01-01         1    103
4      19 2017-01-01         1    381
5      13 2017-01-01         1     20
6       2 2017-01-01         1    126
7       4 2017-01-01         1      7
8       5 2017-01-01         1     94
9       9 2017-01-01         1      5
10     10 2017-01-01         1    176
11     15 2017-01-01         1      6
12     16 2017-01-01         1      4
13     21 2017-01-01         1    107
14      1 2017-01-01         1     23
15     20 2017-01-01         1     30
16     25 2017-01-01         1     20
17     18 2017-01-01         1    274
18     14 2017-01-01         1     98
19      8 2017-01-01         1      3
20      6 2017-01-01         1    965
21     27 2017-01-01         1     20
22      3 2017-01-01         1     10
23     11 2017-01-01         1     19
24     26 2017-01-01         2      4
25     20 2017-01-01         2      5
26      6 2017-01-01         2     55
27     27 2017-01-01         2      3
28      3 2017-01-01         2      1
29     26 2017-01-01         3      2
30      6 2017-01-01         3     15
..    ...        ...       ...    ...
108     2 2017-01-01        11      4
109     5 2017-01-01        11      2
110    10 2017-01-01        11      1
111    21 2017-01-01        11      4
112     1 2017-01-01        11      2
113    20 2017-01-01        11      2
114    25 2017-01-01        11      4
115    18 2017-01-01        11      7
116    14 2017-01-01        11      2
117     6 2017-01-01        11    305
118    27 2017-01-01        11      7
119     3 2017-01-01        11      2
120    11 2017-01-01        11      2
121    26 2017-01-01        12      6
122    22 2017-01-01        12      5
123     6 2017-01-01        12      1
124    19 2017-01-01        12      1
125    10 2017-01-01        12      2
126    21 2017-01-01        12      5
127     1 2017-01-01        12      1
128    20 2017-01-01        12      1
129    14 2017-01-01        12      1
130    27 2017-01-01        12      6
131    11 2017-01-01        12      1
132    13 2017-01-01        13     17
133     2 2017-01-01        13     84
134     4 2017-01-01        13      8
135     5 2017-01-01        13     30
136    24 2017-01-01        13      3
137    11 2017-01-01        13     19

[137 rows x 4 columns]